<!-- /templates/index.liquid -->
{% comment %}
This is the homepage of your site.
More info on global variables (available on all templates):
- http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
<div class="grid-uniform wpf_wrapper">
  <h2 class="text-center">THIS IS THE TEXT</h2>
</div>
